<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="dash_title">
			Schedule Dashbaord
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="dash_button btn-group">
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
		    Create <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><%= link_to "New Team", new_team_path %></li>
		    <li><%= link_to "New Role", new_role_path %></li>
		    <li><%= link_to "New User", new_user_path %></li>
		  </ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
		<h3 class="dash_heading" id="team_toggle">Current Teams <%= image_tag("arrowdown.gif", class: "team_arrow_toggle")%><%= image_tag("arrowright.gif", class: "team_arrow_two hiddentog")%></h3>
	</div>
	<% @teams.each do |team| %>
		<div class="dash_list dash_teams col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<h4><%= link_to team.name, edit_team_path(team) %></h4>
			<% if team.users.length == 0 %>
				<span style="color: #d9534f; font-style: italic;">(No Users Assigned)</span>
			<% else %>
				<% team.users.order("first_name ASC").each do |user| %>
					<div class="dash_names"><%= user.first_name + ' ' + user.last_name %></div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<hr class="divider">

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h3 class="dash_heading" id="role_toggle">Current Roles <%= image_tag("arrowdown.gif", class: "role_arrow_toggle")%><%= image_tag("arrowright.gif", class: "role_arrow_two hiddentog")%></h3>
	</div>
	<% @roles.each do |role| %>
		<div class="dash_list dash_roles col-lg-3 col-md-3 col-sm-4 col-xs-6">
			<div class="dash_role_name"><%= link_to role.name, edit_role_path(role) %><span class="dash_delete"> <%= link_to "DELETE", role, method: :delete, data: { confirm: "Are you sure?" } %></span></div>
			<div class="color_line" style="background-color: <%=role.color%>;"></div>
			<% if role.users.length == 0 %>
				<span style="color: #d9534f; font-style: italic;">(No Users Assigned)</span>
			<% else %>
				<% role.users.order("first_name ASC").each do |user| %>
					<div class="dash_names col-lg-6"><%= user.first_name + ' ' + user.last_name %></div>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
<hr class="divider">

<% @date1 = Time.now %>
<% @date2 = @date1 + 6.days %>
<% @users_with_events = User.active.where(:reminders => true).joins(:events).where(:events => {:event_date => @date1..@date2}) %>
<% @confirm_users = Array.new %>
<% @users_with_events.each do |user| %>
	<% @confirm_users << user.first_name + ' ' + user.last_name %>
<% end %>

	<% if current_user.admin? %>
		<%= link_to "Send Email Reminders", email_path, class: "btn btn-small btn-primary", :data => { :confirm => 'You are about to send schedule reminders to ' + @confirm_users.to_sentence + '. Continue?'}  %>
		<%= link_to "Send Monthly Schedule Update", scheduleemail_path, class: "btn btn-small btn-primary" %>
	<% end %>

<div class="row">
	<div class="col-lg-12">
		<h3 class="dash_heading">Users <span class="dash_deactivated_link"><%= link_to "View Deactivated Users", deactivated_path %> </span></h3>
	</div>
	<div class="col-lg-12">
		<div id='filters'>
			<span class="filter_title">Filter Names:</span>
			<a href='#' id="show_all" class="filter_buttons">All</a>
			<% @filters.each do |filter| %>
				<a href='#' id="alpha_<%=filter%>" class="filter_buttons"><%=filter.upcase%></a>
			<% end %>
		</div>
	</div>

	<div id="box" style="min-height: 1000px;">
		<div class="filter">
			<% @users.each do |user| %>
				<% @first_letter = 'alpha_'+user.first_name[0].downcase %>
				<div class="dashboard_user <%= @first_letter %> col-lg-3 col-md-3 col-sm-4 col-xs-6">
					<%= form_for user do |f| %>
						<div class="<%= @first_letter %>">
							<h5><%= link_to user.first_name + ' ' + user.last_name, edit_user_path(user) %></h5>
							<div class="form-group <%= @first_letter %>">
								<%= f.label "Role:" %><% unless user.role_id != nil %> <span class="not_assigned">(Not Assigned)</span><% end %>
								<%= f.collection_select :role_id, Role.all, :id, :name, {:include_blank => "No Role"}, {class: "form-control"} %>
							</div>
							<div class="form-group <%= @first_letter %>">
								<%= f.label "Team:" %><% unless user.team_id != nil %> <span class="not_assigned">(Not Assigned)</span><% end %>
								<%= f.collection_select :team_id, Team.all, :id, :name, {:include_blank => "No Team"}, {class: "form-control"} %>
							</div>
							<div class="form-group <%= @first_letter %>">
								<%= f.label "Worship Role:" %>
								<%= f.collection_select :worship_role_id, WorshipRole.all, :id, :name, {:include_blank => "None"}, {class: "form-control"} %>
							</div>
							<%= f.hidden_field :user_id, value: user.id %>
							<div class="actions <%= @first_letter %>">
							<%= f.submit "Update" %>
							</div>
						</div>
					<% end %>
					<div class="dash_deactivate <%= @first_letter %>">
						<%= form_for user do |f| %>
							<%= f.hidden_field :user_id, value: user.id %>
							<%= f.hidden_field :deactivated, value: true %>
							<%= f.hidden_field :role_id, value: nil %>
							<%= f.hidden_field :team_id, value: nil %>
							<%= f.submit "Deactivate", class: "dash_deactivate_button" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#filters a').click(function(e){
	    e.preventDefault();
	    var filter = $(this).attr('id');

	    if (filter == "show_all") {
	    	$('#box .filter div').show();
	    }
	    else {
	        $('#box .filter div').show();
	        $('#box .filter div:not(.' + filter + ')').hide();
	    }
	});

	$('#team_toggle').click(function(e){
	  e.preventDefault();
    $('.dash_teams').toggle();
    $('.team_arrow_toggle').toggle();
		$('.team_arrow_two').toggle();
	});

	$('#role_toggle').click(function(e){
    e.preventDefault();
    $('.dash_roles').toggle();
    $('.role_arrow_toggle').toggle();
    $('.role_arrow_two').toggle();
	});

</script>
