<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <h1>New Episode</h1>

    <%= form_for(Medium::Radio.new, url: radio_index_path) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control", required: true %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :audio %><br>
        <%= f.text_field :audio, class: "form-control", required: true %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label "Episode Number" %><br>
        <%= f.number_field :episode_number, class: "form-control", required: true %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label "Script" %><br>
        <%= f.text_area :outline, class: "form-control", required: true, rows: 10 %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label "Published Date" %><br>
        <%= f.date_field :s_date, class: "form-control", id: "datepicker", required: true %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    <br />
    <%= link_to 'Back', radio_index_path %>
  </div>
</div>
