<%= form_for(@setlist) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label "Setlist Date" %><br>
    <%= f.text_field :date, class: "form-control", id: "datepicker" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
