<h1>
  <div class="book-title"><strong><center><%= @setlist.date.strftime("%b %d, %Y") %></center></strong></div>
</h1>
<% if current_user.admin? %>
  <center>
    <div id="setlist_toggle">
      Adjust Songs
    </div>
    <div class="setlist_adjust" style="display: none;">
      <ul id="setlist_songs">
        <% if @set_songs %>
          <% @set_songs.each do |setlist_song| %>
            <li id="setlist_song_<%= setlist_song.id %>"><%= setlist_song.song.name %><span class="delete fa fa-times" onclick="delete_song(<%= setlist_song.id %>)"></span></li>
          <% end %>
        <% end %>
      </ul>
      <div class="setlist_buttons">
        <span id="setlist_add" onclick="add_song()" class="fa fa-plus-square-o fa-3x"></span>
        <span id="setlist_refresh" onclick="refresh()" class="fa fa-refresh fa-2x"></span>
      </div>
    </div>
  </center>
<% end %>
<div id="select_add_dialog">
  <form>
    <fieldset>
      Select a Song:
      <select name="Songs" id="addSong" class="form-control">
        <% @songs.each do |song| %>
          <option value="<%= song.id %>"><%= song.name %></option>
        <% end %>
      </select>
    </fieldset>
  </form>
</div>

<div id="set_altkey_dialog">
  <form>
    <fieldset>
      Select a Key:
      <select name="Keys" id="pickKey" class="form-control">
        <option value="Ab">Ab</option>
        <option value="A">A</option>
        <option value="A#">A#</option>
        <option value="Bb">Bb</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="C#">C#</option>
        <option value="Db">Db</option>
        <option value="D">D</option>
        <option value="D#">D#</option>
        <option value="Eb">Eb</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="Fb">Fb</option>
        <option value="Gb">Gb</option>
        <option value="G">G</option>
        <option value="G#">G#</option>
      </select>
    </fieldset>
  </form>
</div>

<div class="desktop_only">
  <div class="setlist_advance">

    <span onclick='mySwipe.prev()' class="setlist_arrow_left fa fa-angle-left fa-3x"></span>
    <span onclick='mySwipe.next()' class="setlist_arrow_right fa fa-angle-right fa-3x"></span>

  </div>
</div>
<% i = 1 %>
<div id='mySwipe' style='margin: 0 auto' class='swipe'>
  <div class='swipe-wrap'>

    <% @set_songs.each do |set_song| %>
      <% song = set_song.song %>
      <div>
        <h1 class="song_title">
          <em>Song #<%=i%>: </em><%= song.name %>
        </h1>

        <% if current_user.admin? %>
          <p>
            <strong>Default Key:</strong>
            <%= song.key %>
          </p>
          <p>
            <span class="set_altkey" onclick="set_altkey(<%= set_song.id %>)">Set Transpose Key</span> (Currently: <%=set_song.altkey%>)
          </p>
        <% end %>
        <% if signed_in? %>

            <% if current_user.worship_role_id == nil %>
              <pre class="test_pre" id="chart_<%=song.id%>" data-key="<%=song.key%>">
              <%= simple_format(song.chart) %>
              </pre>
            <% end %>

            <% elsif current_user.worship_role.name == "Instrumentalist" %>
              <pre class="test_pre_alt" id="chart_<%=song.id%>" data-key="<%=song.key%>">
                <%= simple_format(song.chart_alt) %>
              </pre>

            <% elsif current_user.worship_role.name == "Vocalist" %>
              <pre class="test_pre_lyrics" id="chart_<%=song.id%>">
                <%= simple_format(song.lyrics) %>
              </pre>

            <% else %>
              <pre class="test_pre" id="chart_<%=song.id%>" data-key="<%=song.key%>">
                <%= simple_format(song.chart) %>
              </pre>

            <% end %>

      </div>
      <% i+=1 %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>

<script type="text/javascript">

  var this_ssID

  var sort_list = function(){
    $('#setlist_songs').sortable({
      axis: 'y',
      dropOnEmpty: false,
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        $.ajax({
          type: 'post',
          data: $('#setlist_songs').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            $('#setlist_songs').effect('highlight');
            document.getElementById('setlist_refresh').style.visibility="visible";
          },
        url: '/setlist_songs/sort'})
      }
    });
  }

  var select_add_song = function() {
    var song_id = $('#addSong').val();
    var song_name = $("#addSong option[value="+ song_id +"]").text();
    $.create('/setlist_songs',
            { setlist_song: {song_id: song_id, setlist_id: <%= @setlist.id %>} },
            function (response) {
              var new_song = "<li id='setlist_song_" + response.id + "'>" + song_name + "<span class='delete fa fa-times' onclick='delete_song(" + response.id + ")'></span></li>"
              $("#setlist_songs").append( new_song );
              document.getElementById('setlist_refresh').style.visibility="visible";
            });

    $(this).dialog("close");
  }

  var select_altkey = function () {
    var new_key = $('#pickKey').val();
    $.update(
        '/setlist_songs/' + this_ssID,
        { setlist_song: {altkey: new_key, id: this_ssID} },
        function (response) {
          location.reload();
        }
    );
  }

  $("#select_add_dialog").dialog({
    autoOpen: false,
    title: "Add a Song to this Setlist",
    modal: true,
    width: 400,
    buttons: {
      "Add Song": select_add_song
    }
  });

  $("#set_altkey_dialog").dialog({
    autoOpen:false,
    title: "Set the Transpose Key (this setlist only)",
    modal: true,
    width: 400,
    buttons: {
      "Set Transpose Key": select_altkey
    }
  });


  function refresh() {
    location.reload();
  }

  function add_song() {
    $('#select_add_dialog').dialog("open");
  }

  function set_altkey(id) {
    this_ssID = id
    $('#set_altkey_dialog').dialog("open");
  }

  function delete_song(id) {
    $.destroy({
      url: '/setlist_songs/' + id
    });
    $("#setlist_song_" + id).remove();
    document.getElementById('setlist_refresh').style.visibility="visible";
  }

  var elem = document.getElementById('mySwipe');
  window.mySwipe = Swipe(elem, {
    // startSlide: 4,
    // auto: 3000,
    // continuous: true,
    // disableScroll: true,
    // stopPropagation: true,
    // callback: function(index, element) {},
    // transitionEnd: function(index, element) {}
  });


  <% @set_songs.each do |setlist_song| %>
    <% unless current_user.worship_role_id == nil %>
      <% unless current_user.worship_role.name == "Vocalist" %>
        $(function() {
          $("#chart_<%=setlist_song.song_id%>").transpose("", "<%=setlist_song.altkey%>");
        });
      <% end %>
    <% end %>
  <% end %>

  $('#setlist_toggle').click(function(e){
    e.preventDefault();
    $('.setlist_adjust').toggle();

  });

  $(document).ready(sort_list);

</script>
