<p id="notice"><%= notice %></p>
<div class="">
  <div style='text-align:right;padding-top:20px;'>

    <button onclick='mySwipe.prev()'>prev</button>
    <button onclick='mySwipe.next()'>next</button>

  </div>
</div>
<% i = 1 %>
<div id='mySwipe' style='margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>
    <% @setlist.songs.each do |song| %>

      <div>
        <h1 class="song_title">
          <em>Song #<%=i%>: </em><%= song.name %>
        </h1>
        <p>
          <strong>Default Key:</strong>
          <%= song.key %>
        </p>
        <pre class="test_pre" id="chart_<%=song.id%>"data-key="<%= song.key %>">
          <%= simple_format(song.chart) %>
        </pre>
      </div>

      <% i+=1 %>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>

<script type="text/javascript">
  var elem = document.getElementById('mySwipe');
  window.mySwipe = Swipe(elem, {
    // startSlide: 4,
    // auto: 3000,
    // continuous: true,
    // disableScroll: true,
    // stopPropagation: true,
    // callback: function(index, element) {},
    // transitionEnd: function(index, element) {}
  });
  <% @setlist.songs.each do |song| %>
    $(function() {
      $("#chart_<%=song.id%>").transpose();
    });
  <% end %>


</script>
