<script>
  jQuery(function($) {
    $("#phone").mask("(999) 999-9999",{placeholder:" "});
  })
</script>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="checkbox privacy_container">
    <%= f.label :hide_email do %>
      <%= f.check_box :hide_email%>
      <span class="privacy_checkbox">Don't display my email address</span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :gender %>
    <%= f.text_field :gender, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.telephone_field :phone, class: "form-control", id: "phone" %>
  </div>
  <div class="checkbox privacy_container">
    <%= f.label :hide_phone do %>
      <%= f.check_box :hide_phone %>
      <span class="privacy_checkbox">Don't display my phone number</span>
    <% end %>
  </div>
   <div class="form-group">
    <%= f.label :address1, "Address" %>
    <%= f.text_field :address1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.telephone_field :zip, class: "form-control" %>
  </div>
  <div class="checkbox privacy_container">
    <%= f.label :hide_address do %>
      <%= f.check_box :hide_address %>
      <span class="privacy_checkbox">Don't display my address</span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %><br><font color='#999'>Example: https://www.facebook.com/<span style="background-color: #FAFA9A">john.doe123</span></font>
    <%= f.text_field :facebook, class: "form-control", autofocus: true, placeholder: 'john.doe123' %>
  </div>
  <div class="form-group">
    <%= f.label :twitter %><br><font color='#999'>Example: https://twitter.com/<span style="background-color: #FAFA9A">johndoe</span></font>
    <%= f.text_field :twitter, class: "form-control", autofocus: true, placeholder: '@johndoe' %>
  </div>
  <div class="form-group">
    <%= f.label :spouse, "Spouse's Name" %>
    <%= f.text_field :spouse, class: "form-control" %>
  </div>
  <% if signed_in? %>
    <% if current_user.admin? %>
      <div class="form-group">
        <%= f.label :role_id %>
        <%= f.collection_select :role_id, Role.all, :id, :name, {:include_blank => "Choose a Role"}, {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :team_id %>
        <%= f.collection_select :team_id, Team.all, :id, :name, {:include_blank => "Choose a Team"}, {class: "form-control"} %>
      </div>
    <% end %>
  <% end %>
    <div class="row">
      <div class="col-lg-12">
        <center><%= f.submit @type, class: "btn btn-large btn-primary col-lg-2 col-lg-offset-5" %></center>
      </div>
    </div>
  <% end %>
</div>
