<div class="upload_photo_profile_link">
  <%= link_to profile_user_path(@user) do %>
    < My Profile
  <% end %>
</div>

<div class="upload_photo_header col-lg-12 col-md-12 col-sm-12 col-xs-12">
  Select a Profile Photo:
</div>

<div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 upload_photo up_dev">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <h2>Upload a Photo</h2>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>
    <%= f.submit "Upload Photo", class: "btn btn-large btn-primary" %>
  <% end %>
</div>

<div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 upload_photo up_url">
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <h2>Provide a Link</h2>
      <%= f.text_field :avatar_url, class: "form-control" %>
    </div>
    <%= f.submit "Get Photo from URL", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
