<% provide(:title, @user.first_name + ' ' + @user.last_name) %>
<% provide(:bodyid, 'profile_body') %>
<% provide(:containerid, 'profile_container') %>

<div class="row" id="profile_send_email">
  <div class="email_content col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="user_heading">
      Send a note to <%=@user.first_name %>:
    </div>
        <%= form_for(EmailContent.new) do |f| %>
        <%= f.hidden_field :email, :value => current_user.email %>
        <%= f.hidden_field :recipient, :value => @user.email %>
        <%= f.hidden_field :origin, :value => "contactemail" %>
    <div class="form-group">
        <%= f.text_area :text, class: "form-control", style: "text-align:center;", placeholder:"Hey, we met at church on Sunday. Want to get lunch this week?"  %>
    </div>
        <%= f.submit "Send", class: "btn btn-large btn-primary" %>
        <% end %>
    <div class="profile_send_email_back">
      Back to Profile
    </div>
  </div>
</div>

<div class="profile_header" style="background-image: url('<%= @user.avatar.url(:square_blur) %>');">
  <div class="profile_title">
    <% if @user.avatar_file_size? %>
      <div class="profile_picture">
        <%= image_tag @user.avatar.url(:medium) %>
      </div>
    <% elsif @user.facebook? %>
      <div class="profile_picture">
        <%= image_tag "https://graph.facebook.com/"+ @user.facebook + "/picture?width=275&height=275" %>
      </div>
    <% else %>
      <div class="profile_picture">
        <%= image_tag("box_male_large.gif", alt: @user.fullname) %>
      </div>
    <% end %>
    <div class="profile_text" <% unless @user.avatar_file_size? || @user.facebook? %>style="margin: 0;"<% end %>>
      <div class="profile_name"><%= @user.first_name + ' ' + @user.last_name %></div>
      <div class="profile_info">
        <% unless @user.hide_email? %>
          <%= @user.email %><br>
        <% end %>
        <% unless @user.hide_address? %>
          <% if @user.address1? %>
            <br><%= @user.address1 %><br>
          <% end %>
          <% if @user.city? && @user.state? %>
            <%= @user.city %>, <%= @user.state %>
            <% if @user.zip? %>
              <%= @user.zip %>
            <% end %>
            <br>
          <% end %>
        <% end %>
        <% unless @user.hide_phone? %>
          <% if @user.phone? %>
            <%= @user.phone %><br>
          <% end %>
        <% end %>



      </div>
    </div>

    <div class="clear"></div>
    <div class="profile_boxes">
      <ul>
        <li>
          <span class="profile_contact">Contact <%= @user.first_name %></span>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $('.profile_contact').click(function(e){
    e.preventDefault();
    $('.profile_header').toggle();
   	$('#profile_send_email').slideToggle();
	});

  $('.profile_send_email_back').click(function(e){
    e.preventDefault();
    $('#profile_send_email').slideToggle();
    $('.profile_header').toggle();
  });

</script>
