<% provide(:title, 'Us') %>
<% provide(:bodyid, 'us_body') %>
<script>
  $(document).ready(function(){
    $('.facebookpic').hover(function() {
        $(this).addClass('transition');

    }, function() {
        $(this).removeClass('transition');
    });
  });
</script>

<div class="row">
  <div class="col-lg-12">
    <h3 class="dash_heading">Users by Firstname</h3>
  </div>
  <div class="col-lg-12">
    <div id='filters'>
      <span class="filter_title">Filter Names:</span>
      <a href='#' id="show_all" class="filter_buttons">All</a>
      <% @filters.each do |filter| %>
        <a href='#' id="alpha_<%=filter%>" class="filter_buttons"><%=filter.upcase%></a>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12">
    <h3 class="dash_heading">Users by Lastname</h3>
  </div>
  <div class="col-lg-12">
    <div id='filters'>
      <span class="filter_title">Filter Names:</span>
      <a href='#' id="show_all" class="filter_buttons">All</a>
            <% @last_filters.each do |filter| %>
      <a href='#' id="beta_<%=filter%>" class="filter_buttons"><%=filter.upcase%></a>
    <% end %>
  </div>
</div>

<div id="box">
  <div class="filter">
	<% @users.each do |user| %>
  <% @first_letter = 'alpha_'+user.first_name[0].downcase %>
  <% @first_letter_last = 'beta_'+user.last_name[0].downcase %>
  		<div class=" <%= @first_letter %> <%= @first_letter_last %> col-lg-2 col-md-2 col-sm-3 col-xs-12">
			<div class="us_box <%= @first_letter %> <%= @first_letter_last %>">
				<div class="userbox <%= @first_letter %> <%= @first_letter_last %>">
					<div class="image_box <%= @first_letter %> <%= @first_letter_last %>">
						<center><%= image_for(user) %></center>
					</div>
					<div class="box_name <%= @first_letter %> <%= @first_letter_last %>">
						<%= user.fullname %>
					</div>
					<div class="box_role <%= @first_letter %> <%= @first_letter_last %>">
						<%= user.role.name unless user.role.nil? %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
  </div>
</div>

<script type="text/javascript">
$('#filters a').click(function(e){

    e.preventDefault();

    var filter = $(this).attr('id');

    if (filter == "show_all") {
      $('#box .filter div').show();
    }
    else {
        $('#box .filter div').show();
        $('#box .filter div:not(.' + filter + ')').hide();
    }
});
$('#filters b').click(function(e){

    e.preventDefault();

    var filter = $(this).attr('id');

    if (filter == "show_all") {
      $('#box .filter div').show();
    }
    else {
        $('#box .filter div').show();
        $('#box .filter div:not(.' + filter + ')').hide();
    }
});
</script>
