<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :chart, "Standard Song Chart" %><br>
    <%= f.text_area :chart, class: "chart_edit" %>
  </div>
  <div class="field">
    <%= f.label :chart_alt, "Large-Chord Chart" %><br>
    <%= f.text_area :chart_alt, class: "chart_edit" %>
  </div>
  <div class="field">
    <%= f.label :chart_alt, "Lyrics-Only Chart" %><br>
    <%= f.text_area :lyrics, class: "chart_edit" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
