<p id="notice"><%= notice %></p>
<% provide(:title, 'Songs') %>

<link href='http://fonts.googleapis.com/css?family=Inconsolata:700,400' rel='stylesheet' type='text/css'>

<p>
  <strong>Name:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Default Key:</strong>
  <%= @song.key %>
</p>

  <pre class="test_pre" data-key="<%= @song.key %>">
<%= simple_format(@song.chart) %>
  </pre>

  <pre class="test_pre2" data-key="<%= @song.key %>">
<%= simple_format(@song.chart_alt) %>
  </pre>

  <pre class="test_pre" data-key="<%= @song.key %>">
<%= simple_format(@song.lyrics) %>
  </pre>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>

  <script type="text/javascript">
    $(function() {
    	$(".test_pre").transpose("", "<%=@song.key%>");
    });

    $(function() {
      $(".test_pre2").transpose("", "<%=@song.key%>");
    });

    $(document).ready();

  </script>
