<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @recipient.first_name %>,<br>
    <p><%= @user.first_name + ' ' + @user.last_name %> has sent you a message through c316.tv! Here's what they had to say:</p>
    <p style="text-indent: 25px;"><em><%= @email_content.text %></em></p>
    <p>You can reply to <%= @user.first_name %> by sending an email to <%= @user.email %>.</p>
  </body>
</html>
