<% provide(:title, "Sermon Archive") %>
<% provide(:bodyid, "sermon_listing_page") %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <center>
      <h2 id="index_heading">
        <em>
          Sermon Archive:
        </em>
      </h2>
      <span>
        <%= form_tag archive_path, method: :get, class: "sermon-search" do %>
          <p>
            <%= text_field_tag :book, params[:book] %>
            <%= submit_tag "Search Book", name: nil %>
          </p>
        <% end %>
        <%= form_tag archive_path, method: :get, class: "tag-search" do %>
          <p>
            <%= text_field_tag :tags, params[:tags] %>
            <%= submit_tag "Search Topics", name: nil %>
          </p>
        <% end %>
      </span>

      <%= will_paginate @ordered_sermons, :inner_window => 1 %>
    </center>
  </div>
      <div id="sermons">
        <%= render 'ordered' %>
      </div>
  </div>
</div>
