<% provide(:title, "Sermon Archive") %>
<% provide(:bodyid, "front_page") %>
<div class="container">
  <div class="logo316"></div>
  <h1 id="archive_title">Calvary316 Media</h1>

  

  <br>
  <br>

  <table class="sermon_table">
    <thead>
      <tr class="sermon_list">
      </tr>
    </thead>

    <tbody>
      <% @sermons.each do |sermon| %>
        <tr>
          <td class="s_elements"><%= link_to sermon.s_date.strftime("%b %d, %Y"), sermon %></td>
          <td class="s_elements"><%= sermon.book %> <%= sermon.chapter %>:<%= sermon.verse_first %>-<%= sermon.verse_last %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <center><%= link_to 'Create New Sermon', new_sermon_path %></center>
  <br>
  <br>
  <br>

</div>
