<!--<p id="notice"><%= notice %></p>-->
<% provide(:title, @sermon.s_date.strftime("%b %d, %Y")) %>
<div class="container">
  <h1>
    <div class="book-title"><strong><center><%= @sermon.s_date.strftime("%b %d, %Y") %></center></strong></div>
    <em><center><%= @sermon.book %> <%= @sermon.chapter %>:<%= @sermon.verse_first %>-<%= @sermon.verse_last %></center></em>
  </h1>
  <p>
    <div class="video">
      
      <iframe src="http://player.vimeo.com/video/<%= @sermon.video %>?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
      
    </div>
  </p>
  
  <br>
  <h2>
    <center>
      <em>Download Audio:</em><br>
    </center>
  </h2>
  <h4>
    <div class="audio">
      <center><%= link_to @sermon.audio, @sermon.audio %></center>
    </div>
  </h4>
  <br>
  <div id="social">
    <a href="http://twitter.com/calvary316"><img src="http://www.curehr.com/graphics/twitter.png"></a>
    <a href="http://facebook.com/calvary316"><img src="http://www.curehr.com/graphics/facebook.png"></a>
    <a href="https://squareup.com/market/calvary316"><img src="http://www.curehr.com/graphics/square.png"></a>
  </div>
  <br>
  <h2>
    <center><em>Outline:</em></center>
  </h2>
  <br>
  <p>
    <%= simple_format(@sermon.outline) %>
  </p>

  <%= link_to 'Edit', edit_sermon_path(@sermon) %> |
  <%= link_to 'Back', sermons_path %>

</div>
