<!--<p id="notice"><%= notice %></p>-->
<% provide(:title, @sermon.s_date.strftime("%b %d, %Y")) %>
<h1>
  <div class="book-title"><strong><center><%= @sermon.s_date.strftime("%b %d, %Y") %></center></strong></div>
  <em><center>
    <%= sermon_title(@sermon) %>
  </center></em>
</h1>
<p>
  <div class="video">
    
    <iframe src="http://player.vimeo.com/video/<%= @sermon.video %>?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
    
  </div>
</p>

<br>
<h2>
  <center>
    <em>Download Audio:</em><br>
  </center>
</h2>

<% if Time.now.strftime("%Y-%m-%d") <= @sermon.s_date.strftime("%Y-%m-%d") %>
  <h4>
    <div class="audio">
      <center>(Audio & Video are posted here on Monday)</center>
    </div>
  </h4>
  <br>
  <%= render 'sermons/social' %>
  <% unless @sermon.announcements.nil? || @sermon.announcements == "" %>
    <br>
    <h2>
      <div class="audio">
        <center><em>
          <%= link_to "Announcements", @sermon.announcements %>
        </em></center>      
      </div>
    </h2> 
  <% end %>
<% else %>
  <h4>
    <div class="audio">
      <center><%= link_to @sermon.audio, @sermon.audio %></center>
    </div>
  </h4>
  <%= render 'sermons/social' %>
<% end %>
<br>
<h2>
  <center><em>Outline:</em></center>
</h2>
<center>
  <% if signed_in? %>
    <% if current_user.admin?  %>
      <%= link_to '(Edit)', edit_sermon_path(@sermon) %>
    <% end %>
  <% end %>
</center>
<br>
<div class="col-lg-8 col-lg-offset-2">
  <p>
    <%= simple_format(@sermon.outline) %>
  </p>
</div>
<div class="col-lg-8 col-lg-offset-2">
  <% unless @sermon.link.nil? || @sermon.link == "" %>
    <h2>
      <em>Links:</em>
    </h2>
     <h3>
        <%= simple_format(@sermon.link) %>
    </h3>
  <% end %>
</div>

