<% provide(:title, 'Calendar') %>

<input id="reloadValue" type="hidden" name="reloadValue" value="" />

<div id="event_click_dialog" title="Edit Existing Event">Would you like to delete this event?</div>

<div id="select_add_dialog">
  <form>
    <fieldset>
      Select a User: 
      <select name="Users" id="addUser" class="form-control">
        <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
        <% end %>
      </select>
      <br>
      Will this person be serving in their typical role?
      <select name="Exception" id="addException" class="form-control">
        <option value="0">Yes</option>
        <option value="1">No</option>
      </select>   
      <br>
      <div id="role_exception" style="display:none">This is text
        <select name="Roles" id="addRole" class="form-control">
          <% @roles.each do |role| %>
            <option value="<%= role.id %>"><%= role.name %></option>
          <% end %>
        </select>
      </div>
    </fieldset>
  </form>
</div>

<div class="col-lg-2 col-md-2 col-sm-3">
  <div id="controlButtons">
    <div id='external-events'>
      <h4><em>Drag & Drop</em></h4>
    </div>
    <div class="toggleButtons"></div>
  </div>
</div>

<!-- Wrap for calendar -->
<div class="col-lg-10 col-md-10 col-sm-9">
  <!-- The Calendar -->
  <div id='calendar'></div>

  <!-- clearfix -->
  <div style='clear:both'></div>
</div>

<script>

  $("#addException").change(function() {
    $("#role_exception").toggle();

  });


  $(document).ready(function() {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear(); 

    var global_start_date = "";

    <% @teams.each do |team| %>  
      var <%= team.name.downcase.tr(" ", "_") %>_users = [       
        <% team.users.each do |user| %>
          <% unless user.role.blank? || user.role.nil? %>
          {
            userID: <%= user.id %>,
            title: '<%= user.name %>',
            color: '<%= user.role.color %>',
            textColor: '<%= user.role.text_color %>',
            roleID: <%= user.role.id %>,
            order: <%= user.role.order %>     
          },
          <% end %>
        <% end %>
      ]

      $('#external-events').append("<div class='external-event' id='<%=team.name.downcase.tr(" ", "_")%>_users'><%= team.name %></div>");

      $('#<%=team.name.downcase.tr(" ", "_")%>_users').each(function() {
        
        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });

    <% end %>

    var select_add_event = function() {
      var user = $('#addUser').val(); 
      var except = $('#addException').val();
      var exceptVal = "";
      var userRole = "";
      var start = global_start_date;
      var new_date = $.fullCalendar.formatDate(start, 'yyyy-MM-dd');

      $.read('/users/'+user, function (response) {
        var userName = response.name;
        if(except == 1) {
          userRole = $('#addRole').val();
          exceptVal = true;
        }
        else {
          userRole = response.role_id;
          exceptVal = false;
        }

        $.read('/roles/'+userRole, function (response) {
          var roleColor = response.color;
          var roleTextColor = response.text_color;
          var roleOrder = response.order;
          $.create('/events',
                  { event: { event_date: new_date, user_id: user, role_id: userRole, exception: exceptVal } },
                  function (response) {
                    var created_event = {
                      id: response.id,
                      title: userName,
                      color: roleColor,
                      textColor: roleTextColor,
                      allDay: true,
                      start: new_date,
                      role: userRole,
                      order: roleOrder
                    }

                    eval("role"+userRole).push(created_event);
                    $('#calendar').fullCalendar( 'refetchEvents' );
          });  
        });
      });
      $( this ).dialog( "close" );
    }

    $( "#event_click_dialog" ).dialog({ 
      autoOpen: false,
      width: 400,
      buttons: [

        // Destroy Button
        {
          text: "Delete",
          click: function() {

            // 1. Destroys the event in the RAILS DATABASE using $.destroy (jquery.rest.js)
            $.destroy({
              url: '/events/' + globalevent_id
            });
            
            // 2. Removes the event object from the CALENDAR.

            $( this ).dialog( "close" );
            for (var i=0; i<eval("role"+globalevent_role).length; i++) {
              if (eval("role"+globalevent_role)[i].id == globalevent_id) {
                eval("role"+globalevent_role).splice(i, 1);
              }   
            }
            $('#calendar').fullCalendar( 'refetchEvents' );

          }
        }
      ]
    });

    $("#select_add_dialog").dialog({
      autoOpen: false,
      title: "New event",
      modal: true,
      width: 400,
      buttons: {
        "Add Event": select_add_event
      },
      close: function() {
        $("#role_exception").hide();
        $('#addException').prop('selectedIndex',0);
      }
    });

    $('#calendar').fullCalendar({
      editable: true,
      selectable: true,
      droppable: true,

      // Action for when a team is dropped on the calendar:
      drop: function(date, allDay) { 
        
        // Name of the calling element. e.g. TeamA_users
        var teamArray = eval(this.id);

        for (var i = 0; i < teamArray.length; i++) {
          var user = teamArray[i];
          drop_team(date, user["userID"], user["title"], user["roleID"], user["color"], user["order"], user["textColor"]);
        }


      },

      //Action for when a day of the week is clicked:
      select: function(start, end, allDay) {
        global_start_date = start;
        $('#select_add_dialog').dialog("open");
      },      

      // Action for when an event is drag-and-dropped on a new date:
      eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        var event_id = parseInt(event.id);
        var event_start = $.fullCalendar.formatDate(event.start, 'yyyy-MM-dd');
        
        // Update the event date in the RAILS DATABASE via $.update (jquery.rest.js)
        $.update(
            '/events/' + event_id,
            { event: {event_date: event_start, id: event_id} }
          );

        // Update the event date in the CALENDAR event object
        $('#calendar').fullCalendar('updateEvent', event);
      },

      eventClick: function(event, jsEvent, view) {
        var event_id = parseInt(event.id);
        globalevent_id = event_id;
        globalevent_role = event.role;

        // Open the dialog box with id="event_click_dialog"
        $( "#event_click_dialog" ).dialog( "open" );
      },

      hiddenDays: [ 1, 2, 3, 4, 5, 6 ]



    });

    var add_set = function(event_set) {
      $('#calendar').fullCalendar( 'addEventSource', event_set );
    }

    <% @roles.each do |role| %>
      var roleColor = '<%= role.color %>';
      var roleTextColor = '<%= role.text_color %>';
      var role<%= role.id %> = [       
        <% role.events.each do |event| %>
          {
            // When creating a new event, store SERMON ATTRIBUTES in the attributes of the CALENDAR EVENT OBJECT...
            // ... this way we can use these values later to identify the sermon when calling $.update and $.destroy
            id: '<%= event.id %>',
            title: '<%= event.user.name %>',
            start: new Date(<%= event.event_date.strftime("%Y") %>, <%= event.event_date.strftime("%m") %>-1, <%= event.event_date.strftime("%d") %>),
            color: roleColor,  
            textColor: roleTextColor,
            role: <%= role.id %>,
            order: <%= role.order %>
          }, 
        <% end %>   
      ]
      add_set(role<%= role.id %>);

      <% @role_button_id = role.name.downcase.tr(" ", "_") %>

      $('<button/>', {
        text: "<%= role.name %>", 
        id: 'btn_<%= @role_button_id %>_off',
        class: '<% case role.color %><% when "#59BA53" %>cupid-green<% when "#9FE1E7" %>cupid-light-blue<% when "#F8B0C8" %>cupid-pink<% when "#FCF0AD" %>cupid-yellow<% when "#9FC6E7" %>cupid-blue-gray<% when "#4986E7" %>cupid-blue<% when "#9A9CFF" %>cupid-purple<% when "#FFAD46" %>cupid-orange<% when "#D06B64" %>cupid-red<% else %>cupid-gray<% end %>',
        click: function () { 
          $('#btn_<%= @role_button_id %>_off').toggle(0, function() {
            $('#btn_<%= @role_button_id %>_on').toggle(0);
            $("#calendar").fullCalendar( 'removeEventSource', role<%= role.id %> );
          });
        }
      }).prependTo('.toggleButtons');

      $('<button/>', {
        text: "<%= role.name %>", 
        id: 'btn_<%= @role_button_id %>_on',
        class: '<% case role.color %><% when "#59BA53" %>cupid-green<% when "#9FE1E7" %>cupid-light-blue<% when "#F8B0C8" %>cupid-pink<% when "#FCF0AD" %>cupid-yellow<% when "#9FC6E7" %>cupid-blue-gray<% when "#4986E7" %>cupid-blue<% when "#9A9CFF" %>cupid-purple<% when "#FFAD46" %>cupid-orange<% when "#D06B64" %>cupid-red<% else %>cupid-gray<% end %>',
        click: function () { 
          $('#btn_<%= @role_button_id %>_on').toggle(0, function() {
            $('#btn_<%= @role_button_id %>_off').toggle(0);
            $("#calendar").fullCalendar( 'addEventSource', role<%= role.id %> );
          });
        }
      }).prependTo('.toggleButtons').hide();       
    <% end %>

    var drop_team = function(date, id, title, role, color, order, textColor) {
        
      $.create('/events',
        { event: { event_date: date, user_id: id, role_id: role } },
        function (response) {
          var object = {
            id: response.id,
            title: title,
            color: color,
            textColor: textColor,
            allDay: true,
            start: $.fullCalendar.formatDate( date, 'yyyy-MM-dd'),
            role: role,
            order: order
          }

          eval("role"+role).push(object);
          $('#calendar').fullCalendar( 'refetchEvents' );

        });
    }

  });

</script>